[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
pint = "*"
numpy = "*"
babel = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
